* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white; /* CHANGED */
}

#hero,
#about,
#projectSection,
#footer {
    border: 2px solid black;
}

/* HERO unchanged */
#hero {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* ABOUT + PROJECT layout updated */
#about,
#projectSection {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* FOOTER */
#footer {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar {
    height: 10%;
    width: 100%;
    border: 2px solid rgb(7, 5, 5);
}

.tempPara {
    font-size: 2rem;
    text-align: center;
}

/* HERO boxes unchanged */
.homeSections {
    height: 400px;
    width: 480px;
    border: 3px solid rgb(18, 18, 41);
}

/* NEW long rectangular box */
.longBox {
    height: 220px;
    width: 80%;
    border: 3px solid rgb(18, 18, 41);
}
